html {
	font-family: sans-serif;
	color: #272727;
}

.header {
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align: center;
	font-size: 24;
	letter-spacing: 2px;
	/*background-color: #f2f2f2;*/
    padding: .2rem 0 .4rem;
    /*padding: .4rem 0*/
    }

h1 {
	font-weight: 200;
}

a {
	color: #ce0c3d;
}


ul {
	/*display: inline-block;*/
	border-top: 2px solid #000;
	border-right: 2px solid #000;
	border-left: 2px solid #000;
	border-bottom: 2px solid #000;
	background-color: #fffafa;
	text-align: justify;
	text-decoration: none;
	list-style-type: none;
	width: 600px;
	margin: 0 auto;
	padding-top: 2rem;
	padding-bottom: 2rem;

}

p {
	font-style: italic;
	font-size: small;
}
.footer {
	width: 650px;
	margin: 0 auto;
	font-size: x-small;
	text-align: center;
	/*border-top: 2px dotted #000;*/
    padding-top: 2rem;
    margin-bottom: 3rem
}
